.hoffset  { margin-left: 2px; }
.hoffset1 { margin-left: 5px; }
.hoffset2 { margin-left: 10px; }
.hoffset3 { margin-left: 15px; }
.hoffset4 { margin-left: 30px; }
.hoffset5 { margin-left: 40px; }
.hoffset6 { margin-left: 60px; }
.hoffset7 { margin-left: 80px; }
.hoffset8 { margin-left: 100px; }
.hoffset9 { margin-left: 150px; }

.user-platforms {
    width: 30px;
    height:30px;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
